[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.2"
aiofiles = "==22.1.0"
aiohttp = "==3.8.4"
aioshutil = "==1.3"
aiosignal = "==1.3.1"
alembic = "==1.10.2"
amqp = "==5.1.1"
anyio = "==3.6.2"
api-display-purposes = "==0.0.3"
apify = "==1.0.0"
apify-client = "==1.0.0"
apscheduler = "==3.6.3"
asgiref = "==3.5.0"
async-generator = "==1.10"
async-timeout = "==4.0.2"
asyncpg = "==0.27.0"
attrdict = "==2.0.1"
attrs = "==22.1.0"
base58 = "==2.1.1"
bcrypt = "==4.0.1"
beautifulsoup4 = "==4.12.2"
billiard = "==3.6.4.0"
blinker = "==1.6.2"
bs4 = "==0.0.1"
cachetools = "==4.2.2"
celery = "==5.2.7"
certifi = "==2022.6.15"
cffi = "==1.15.1"
chardet = "==3.0.4"
charset-normalizer = "==3.1.0"
clarifai = "==9.8.1"
clarifai-grpc = "==9.8.2"
click = "==8.1.3"
click-didyoumean = "==0.3.0"
click-plugins = "==1.1.1"
click-repl = "==0.2.0"
colorama = "==0.4.6"
configparser = "==3.8.1"
constants = "==0.6.0"
contourpy = "==1.0.7"
cryptography = "==39.0.2"
cycler = "==0.11.0"
cytoolz = "==0.12.2"
distlib = "==0.3.7"
django-crispy-forms = "==1.14.0"
django-jalali-date = "==1.0.1"
django-render-partial = "==0.4"
djangorestframework = "==3.14.0"
dnspython = "==2.3.0"
easyprocess = "==1.1"
ecdsa = "==0.18.0"
email-validator = "==1.3.1"
emoji = "==2.0.0"
et-xmlfile = "==1.1.0"
eth-abi = "==2.2.0"
eth-account = "==0.4.0"
eth-hash = "==0.5.2"
eth-keyfile = "==0.5.1"
eth-keys = "==0.2.4"
eth-rlp = "==0.2.1"
eth-typing = "==2.3.0"
eth-utils = "==1.9.5"
exceptiongroup = "==1.1.1"
fastapi = "==0.95.0"
filelock = "==3.12.2"
flask = "==2.3.2"
flower = "==1.2.0"
fonttools = "==4.39.3"
fpdf = "==1.7.2"
frozenlist = "==1.3.3"
future = "==0.18.3"
googleapis-common-protos = "==1.60.0"
greenlet = "==2.0.1"
grid = "==0.7.1"
grpcio = "==1.58.0"
gunicorn = "==20.1.0"
h11 = "==0.14.0"
helpers = "==0.2.0"
hexbytes = "==0.3.1"
httpcore = "==0.16.3"
httpx = "==0.23.3"
humanize = "==4.6.0"
idna = "==2.10"
inflect = "==6.0.0"
iniconfig = "==2.0.0"
instadm = "==0.0.2"
instagram-private-api = "==1.6.0.0"
instagrapi = "==1.16.30"
instaloader = "==4.10"
instapy = "==0.6.16"
itsdangerous = "==2.1.2"
jdatetime = "==4.1.0"
jinja2 = "==3.1.2"
jsonschema = "==2.6.0"
kiwisolver = "==1.4.4"
kombu = "==5.2.4"
loguru = "==0.6.0"
mako = "==1.2.4"
markdown-it-py = "==3.0.0"
markupsafe = "==2.1.2"
matplotlib = "==3.7.1"
mdurl = "==0.1.2"
meaningcloud-python = "==2.0.0"
mouseinfo = "==0.1.3"
multidict = "==6.0.4"
mysql-connector-python = "==8.0.32"
numpy = "==1.22.3"
openai = "==0.27.4"
opencv-python = "==4.7.0.72"
openpyxl = "==3.1.2"
outcome = "==1.2.0"
packaging = "==23.0"
pandas = "==2.0.1"
parsimonious = "==0.8.1"
passlib = "==1.7.4"
pillow = "*"
pillow-snippet = "==0.0.4"
pipenv = "==2023.9.8"
platformdirs = "==3.10.0"
playwright = "==1.32.1"
pluggy = "==1.0.0"
plyer = "==2.1.0"
prometheus-client = "==0.16.0"
prompt = "==0.4.1"
prompt-toolkit = "==3.0.38"
protobuf = "==3.20.3"
psutil = "==5.9.5"
psycopg2 = "==2.9.3"
psycopg2-binary = "==2.9.3"
pyaes = "==1.6.1"
pyasn1 = "==0.4.8"
pyautogui = "==0.9.53"
pycparser = "==2.21"
pycryptodome = "==3.18.0"
pycryptodomex = "==3.15.0"
pydantic = "==1.10.7"
pyee = "==9.0.4"
pyfiglet = "==0.7"
pygetwindow = "==0.0.9"
pygments = "==2.16.1"
pyjwt = "==2.6.0"
pymsgbox = "==1.0.9"
pyparsing = "==3.0.9"
pyperclip = "==1.8.2"
pypng = "==0.20220715.0"
pyqrcode = "==1.2.1"
pyrect = "==0.2.0"
pyrogram = "==2.0.106"
pyscreeze = "==0.1.28"
pysocks = "==1.7.1"
pytelebot = "==0.0.1"
pytelegrambotapi = "==4.12.0"
pytest = "==7.2.2"
python-dateutil = "==2.8.2"
python-dotenv = "==1.0.0"
python-jose = "==3.3.0"
python-multipart = "==0.0.6"
python-rapidjson = "==1.11"
python-telegram-bot = "==13.13"
pytweening = "==1.0.4"
pytz = "==2023.3"
pytz-deprecation-shim = "==0.1.0.post0"
pywhatkit = "==5.4"
pyyaml = "==6.0"
qrcode = "==7.4.2"
random-word = "==1.0.11"
redis = "==4.5.4"
regex = "==2023.8.8"
requests = "==2.30.0"
rfc3986 = "==1.5.0"
rich = "==13.4.2"
rlp = "==1.2.0"
rsa = "==4.9"
scipy = "==1.10.1"
selenium = "==4.10.0"
semantic-version = "==2.10.0"
setuptools-rust = "==1.7.0"
six = "==1.16.0"
sniffio = "==1.3.0"
sortedcollections = "==2.1.0"
sortedcontainers = "==2.4.0"
soupsieve = "==2.4.1"
sqlalchemy = "==2.0.7"
sqlparse = "==0.4.3"
starlette = "==0.26.1"
tabulate = "==0.8.10"
telethon = "==1.29.2"
tomli = "==2.0.1"
toolz = "==0.12.0"
tornado = "==6.2"
tqdm = "==4.64.1"
trio = "==0.21.0"
trio-websocket = "==0.9.2"
tritonclient = "==2.34.0"
tronapi = "==3.1.6"
trx-utils = "==1.0.4"
twilio = "==7.16.5"
typing-extensions = "==4.4.0"
tzdata = "==2023.3"
tzlocal = "==4.2"
urllib3 = "==1.26.15"
uvicorn = "==0.21.1"
vine = "==5.0.0"
virtualenv = "==20.24.2"
wcwidth = "==0.2.6"
webdriver-manager = "==4.0.0"
webdriverdownloader = "==1.1.0.3"
websockets = "==10.4"
werkzeug = "==2.3.4"
wikipedia = "==1.4.0"
win32-setctime = "==1.1.0"
wincertstore = "==0.2"
wsproto = "==1.2.0"
yarl = "==1.8.2"

[dev-packages]

[requires]
python_version = "3.10"
