{% extends '_base.html' %}
{% load static %}

{% block style %}
    <title>Modern CSS Basics - Instagram Profile Page (Syntax - Class)</title>
    <link rel="stylesheet" href="{% static 'profile/src/css/style.css' %}"/>
{% endblock %}


{% block content %}

    <body class="font-serif">
    <div class="min-h-[1300px] max-w-[640px] overflow-ellipsis md:mx-auto lg:mx-auto sm:mx-auto xl:mx-auto bg-white flex flex-col md:max-w-screen-md sm:max-w-screen-sm lg:max-w-5xl xl:max-w-7xl ">
        <div class="w-[90%] mx-auto flex mt-2  ">
            <div class="mr-2">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" aria-label="Settings"
                     class="_ab6-" color="rgb(0, 0, 0)" fill="rgb(0, 0, 0)" height="24" role="img" viewBox="0 0 24 24"
                     width="24">
                    <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"
                          x1="3" x2="21" y1="4" y2="4"></line>
                    <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"
                          x1="3" x2="21" y1="12" y2="12"></line>
                    <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"
                          x1="3" x2="21" y1="20" y2="20"></line>
                </svg>
            </div>
            <div class="w-2/3">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" aria-label="New post"
                     class="_ab6-" color="rgb(0, 0, 0)" fill="rgb(0, 0, 0)" height="24" role="img" viewBox="0 0 24 24"
                     width="24">
                    <path d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552Z"
                          fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2px"></path>
                    <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"
                          x1="6.545" x2="17.455" y1="12.001" y2="12.001"></line>
                    <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"
                          x1="12.003" x2="12.003" y1="6.545" y2="17.455"></line>
                </svg>
            </div>
            <div class="w-full grid grid-cols-2 content-center justify-items-end items-end justify-end">
                <svg style="margin: 0 -25px 5px 0" xmlns:xlink="http://www.w3.org/1999/xlink"
                     xmlns="http://www.w3.org/2000/svg" aria-label="Down chevron icon" class="x1lliihq x1n2onr6"
                     color="rgb(168, 168, 168)" fill="rgb(168, 168, 168)" height="12" role="img" viewBox="0 0 24 24"
                     width="12"><title>Down chevron icon</title>
                    <path d="M21 17.502a.997.997 0 0 1-.707-.293L12 8.913l-8.293 8.296a1 1 0 1 1-1.414-1.414l9-9.004a1.03 1.03 0 0 1 1.414 0l9 9.004A1 1 0 0 1 21 17.502Z"
                          fill="#A8A8A8"></path>
                </svg>
                <h2 id="userA" class="justify-self-end inline ">user name</h2></div>
        </div>
        <header class="w-[90%]  xl:mt-12 mt-8 flex mx-auto ">
            <div class="flex xl:justify-center h-24 w-full bg-white flex-wrap min-w-fit  ">
                <div class="rounded-full   justify-center flex-wrap flex xl:-mr-9  overflow-hidden w-[77px] h-[77px]  ">
                    {% if user.profile.image %}
                        <img id="profilePicture" class=" w-52 h-52 bg-inherit" src="{{ user.profile.image.url }}" alt="profile-picture">
                    {% else %}
                        <img id="profilePicture" class=" w-52 h-52 bg-inherit" src="" alt="profile-picture">
                    {% endif %}
                </div>
                <div class="flex mr-7 ml-5 md:mr-14 sm:mr-10 justify-center  content-between flex-col items-center md:font-semibold md:ml-28 sm:ml-20">

                    <span id="postcunt" class="-mb-2">{{ user.posts.all|length }}</span>
                    <span>Posts</span>
                </div>
                <div class="flex mr-7  md:mr-14  sm:mr-10  justify-center  content-between flex-col items-center md:font-semibold ">
                    <span id="Fllowers" class="-mb-2">{{ user.followers.all|length }}</span>
                    <span>Fllowers</span>
                </div>
                <div class="flex mr-7 md:mr-14  sm:mr-10  justify-center  content-start flex-col items-center md:font-semibold">
                    <span id="Fllowing" class="-mb-2">{{ user.following.all|length }}</span>
                    <span>Fllowing</span>
                </div>
            </div>

        </header>
        <div class="w-[90%]  grid xl:justify-center   mx-auto -mt-3 md:mt-2">
            <h3 class="font-bold">{{ user.username }}</h3>
            <p class="text-slate-500   -mt-2">Programer</p>
            <div class="font-semibold max-w-[29rem] sm:w-[28rem] md:w-[32rem]  lg:w-[32rem] xl:w-[33rem] overflow-visible -mt-1">
                <p>{{ user.profile.bio }}</p>
            </div>
        </div>
        <br>
        <br>
        <div class="flex w-full justify-center space-x-2">
            <button class="flex items-center justify-center font-bold w-[28%] rounded-md border h-8 bg-gray-100 ">Edite
                profilr
            </button>
            <button class="flex items-center justify-center font-bold w-[28%] rounded-md border h-8">view archive
            </button>
        </div>
        <br>

        <div class="w-full   flex flex-row justify-center ">
            <div id="iconPost" class="w-1/3 scale-150 h-10 items-center flex justify-center content-center ">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" aria-label=""
                     class="_ab6-" color="rgb(115, 115, 115)" fill="rgb(115, 115, 115)" height="12" role="img"
                     viewBox="0 0 24 24" width="12">
                    <rect fill="none" height="18" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2px" width="18" x="3" y="3"></rect>
                    <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"
                          x1="9.015" x2="9.015" y1="3" y2="21"></line>
                    <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"
                          x1="14.985" x2="14.985" y1="3" y2="21"></line>
                    <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"
                          x1="21" x2="3" y1="9.015" y2="9.015"></line>
                    <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"
                          x1="21" x2="3" y1="14.985" y2="14.985"></line>
                </svg>
            </div>
            <div id="iconSave" class="w-1/3 scale-150 items-center h-10 flex justify-center content-center">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" aria-label=""
                     class="_ab6-" color="rgb(168, 168, 168)" fill="rgb(168, 168, 168)" height="12" role="img"
                     viewBox="0 0 24 24" width="12">
                    <polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="#A8A8A8"
                             stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"></polygon>
                </svg>
            </div>


            <div id="iconTagged" class="w-1/3 scale-150 h-10 flex items-center justify-center content-center">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" aria-label=""
                     class="_ab6-" color="rgb(168, 168, 168)" fill="rgb(168, 168, 168)" height="12" role="img"
                     viewBox="0 0 24 24" width="12">
                    <path d="M10.201 3.797 12 1.997l1.799 1.8a1.59 1.59 0 0 0 1.124.465h5.259A1.818 1.818 0 0 1 22 6.08v14.104a1.818 1.818 0 0 1-1.818 1.818H3.818A1.818 1.818 0 0 1 2 20.184V6.08a1.818 1.818 0 0 1 1.818-1.818h5.26a1.59 1.59 0 0 0 1.123-.465Z"
                          fill="none" stroke="#A8A8A8" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2px"/>
                    <path d="M18.598 22.002V21.4a3.949 3.949 0 0 0-3.948-3.949H9.495A3.949 3.949 0 0 0 5.546 21.4v.603"
                          fill="none" stroke="#A8A8A8" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2px"/>
                    <circle cx="12.072" cy="11.075" fill="none" r="3.556" stroke="#A8A8A8" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2px"/>
                </svg>
            </div>
        </div>
        <div id="forhr" class="flex justify-start w-full">
            <hr class="w-1/3 transition-all duration-300 ease-in-out bg-slate-400 h-[1.5px]">

        </div>
        <div id="postBox" class="grid grid-cols-3 mt-1 space-x-1  border border-white">
            <div class="w-full sm:h-52 md:h-64 h-36 xl:h-80 overflow-hidden">
                <img class="md:object-center sm:h-[400px] sm:w-[400px] md:h-[450px] md:w-[450px] lg:w-[550px] lg:h-[550px] xl:w-[600px] xl:h-[800px]  "
                     src="/1247179.webp" alt="#">

            </div>
            <div class="w-full sm:h-52 md:h-64 h-36 xl:h-80 overflow-hidden">
                <img class="md:object-center sm:h-[400px] sm:w-[400px] md:h-[450px] md:w-[450px] lg:w-[550px] lg:h-[550px] xl:w-[600px] xl:h-[800px]  "
                     src="/PRI1.jpg" alt="#">

            </div>
        </div>
    </div>


    <script src="{% static 'profile/src/profile.JS' %}"></script>
    </body>

{% endblock %}
