<div id="zBlure" class="h-[85vh] hidden w-5/6 grid absolute mx-auto z-20 grid-cols-2 overflow-hidden bg-white content-center rounded-md">
    <!-- its for left side just post piture -->
    <div class="bg-black object-cover flex items-center">
      <img src="" alt="" />
    </div>
    <!-- right side -->
    <div class="">
      <!-- top profile & user name -->
      <div class="grid grid-cols-2">
        <div class="flex items-center mb-3">
          <div class="w-12 h-12 ml-5 mt-4 rounded-full bg-black overflow-hidden flex items-center justify-center">
            <img class="object-cover" src="../PRI1.jpg" alt="" />
          </div>

          <h2 class="ml-4 mt-4">user name</h2>
        </div>
        <div class="justify-self-end flex items-center mr-4 cursor-pointer">
          <!-- onklick -->
          <svg id="openSelect" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" aria-label="More options" class="_ab6-" color="rgb(0, 0, 0)" fill="rgb(0, 0, 0)" height="24" role="img" viewBox="0 0 24 24" width="24">
            <circle cx="12" cy="12" r="1.5"></circle>
            <circle cx="6" cy="12" r="1.5"></circle>
            <circle cx="18" cy="12" r="1.5"></circle>
          </svg>
        </div>
      </div>
      <!-- profil username and more -->
      <div class="grid border-t h-[50vh]">
        <div class="flex items-center">
          <div class="w-12 h-12 ml-5 mt-4 rounded-full bg-black overflow-hidden flex items-center justify-center">
            <img class="object-cover" src="../PRI1.jpg" alt="" />
          </div>

          <h2 class="ml-4 mt-4">user name</h2>
        </div>
        <span class="ml-5 w-4/5">Lorem ispansum dolor, sit amet consectetur adipisicing elit. Rerum molestiae assumenda ullam, esse dolores in perferendis sed totam ab vitae. Voluptatum autem reprehenderit ad quia impedit voluptatibus earum. Voluptate veritatis vitae earum!</span>
      </div>
      <!-- for like & save and who liked -->
      <div class="h-28">
        <!-- like and save -->
        <hr />
        <div class="grid mt-3 grid-cols-2">
          <div class="ml-4 cursor-pointer flex items-center justify-self-start">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" aria-label="Unlike" class="x1lliihq x1n2onr6" color="rgb(255, 48, 64)" fill="rgb(255, 48, 64)" height="24" role="img" viewBox="0 0 48 48" width="24">
              <title>Unlike</title><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z" fill="#FF3040"></path>
            </svg>
          </div>
          <div class="mr-4 cursor-pointer flex items-center justify-self-end">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" aria-label="Save" class="x1lliihq x1n2onr6" color="rgb(0, 0, 0)" fill="rgb(0, 0, 0)" height="24" role="img" viewBox="0 0 24 24" width="24">
              <title>Save</title><polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"></polygon>
            </svg>
          </div>
        </div>
        <!-- who liked -->
        <div class="flex items-center ml-4 mt-5">
          <div class="absolute rounded-full w-5 h-5 z-10 flex items-center bg-black overflow-hidden">
            <img class="object-cover" src="../svgexport-9.jpg" alt="" />
          </div>
          <div class="absolute rounded-full w-5 h-5 ml-3 z-20 flex items-center bg-black overflow-hidden">
            <img class="object-cover" src="../PRI1.jpg" alt="" />
          </div>
          <div class="absolute rounded-full w-5 h-5 z-30 ml-6 flex items-center bg-black overflow-hidden">
            <img class="object-cover" src="../1247179.webp" alt="" />
          </div>
          <!-- names and cunt -->
          <span class="ml-14">liked by pat &. mat and 147 more</span>
        </div>
      </div>
    </div>
  </div>